body{background: rgb(235, 235, 235); margin:0;}
a{color:inherit ;text-decoration: none;}
*{margin: 0; padding: 0;}
hr{height: 0; padding: 0; border-top: 1px solid #DEDEDE}
ol,ul{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.clearfix::after{content: '';  display: block; clear: both;}

[data-x].active{
    outline: 1px solid red;
}
[data-x].offset{
    transform: translateY(-30px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
@keyframes slideUp{
    0%{
        transfrom: translateY(300px);
    }
    100%{
        transfrom: translateY(0);
    }
}
.topNavBar{padding: 20px 0 20px 0; position: fixed; top: 0%; left: 0; width: 100%;
transition: all 0.5s; color: #b7b7b7;}
.topNavBar.sticky{background: white; padding: 15px 0; z-index: 1;
box-shadow: 0 0 10px rgba(0,0,0,0.25); color: #3d4451;}
.topNavBar-inner{padding: 0 20px;}
.topNavBar nav{padding-top: 2px; padding-bottom: 3px}
.topNavBar nav > ul {list-style: none; margin:0; padding:0;}
.topNavBar nav > ul > li { float: left; margin-left:17px; margin-right:17px; position: relative;}
.topNavBar nav > ul > li > a{font-size: 13px; color:inherit;
    font-weight: bold; border-bottom:3px solid transparent; border-top:3px solid transparent; 
    padding-bottom: 7px; padding-top: 7px; display: block; position: relative;}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide .3s;
}
@keyframes menuSlide{
    0%{width: 0}
    100%{width: 100%}
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.topNavBar li.active > .submenu{
    display: block;
    animation: submenuSlide .3s;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.topNavBar .submenu > li{
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 13px;
    color: #3d4451;
}

.topNavBar .logo{font-size: 25px; font-family: "Arial Black"; padding-top: 2px; padding-bottom: 2px;}
.topNavBar .logo .rs{margin-right:4px; color: indianred;}
.banner{ height: 505px; background-image: url(./img/bg.jpg); background-position: center center;
    background-size: 100%;}
.banner .mask{height: 505px; background-color: rgba(0,0,0,0.5);}
.usercard{max-width: 940px; margin-left: auto; margin-right: auto; background-color: #FFFFFF;
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.3);}
.usercard .welcome{background: #E6686A; color: #FFFFFF; display: inline-block; padding: 0 16px;
    line-height: 22px;position: relative;}
.usercard .welcome .triangle{display: block; border: 10px solid transparent; width: 0px; border-left-color: #E6686A;
    border-top-width: 0px;position: absolute;left: 4px; bottom: 0;top: 100%}
.usercard .picture{float: left;}
.usercard .text{float: left; margin-left: 65px; width: 460px;}
.usercard .text h1{margin-top: 26px;}
.usercard .pictureAndtext{padding: 50px;}
.usercard .text hr{margin: 20px 0;}
.usercard dl dt,.usercard dl dd{float: left; padding: 5px 0;}
.usercard dl dt{width: 30%; font-weight: bold;}
.usercard dl dd{width: 70%; color: #9da0a7;}
.usercard > footer.media{background: rgb(230, 104, 106); text-align: center;}
.usercard > footer.media > a{display: inline-block; border-radius: 50%; width: 40px; padding:8px 0; line-height: 24px; margin: 16px 16px;}
.usercard > footer.media > a:hover{background: #CF5D5F;}
.usercard svg{width: 24px; height: 24px; fill:white; vertical-align: top;}
body > main{margin-top: -300px;}
body > main .downloadResume-wrapper{text-align: center;}
body > main .downloadResume{font-size: 14px; line-height: 16px; padding: 15px 55px; border: 1px solid #CDCFD1; 
    background: #EFEFEF; display: inline-block; border-radius: 4px; color: #3d4451; font-weight: bold; margin: 32px 0;}
body > main .downloadResume:hover{box-shadow: -2px 3px 11px 0px rgba(105,105,105,0.3); transition: box-shadow 0.2s;}
.selfIntroduction{max-width: 940px; margin-left: auto; margin-right: auto; text-align: center;  }
section.skills,section.portfolio{max-width: 940px; margin-left: auto; margin-right: auto; margin-top: 60px;}
section.skills > h2,section.portfolio > h2{text-align: center; color: #202329; font-style: 35px; line-height: 1.2; font-weight: 600px;}
section.skills h3{font-size: 14px; line-height: 1.1; padding-right: 40px;}
section.skills > ol{background: #FFFFFF; box-shadow: -2px 3px 11px 0px rgba(105,105,105,0.3); padding: 40px 50px 10px; margin-top: 30px;}
section.skills > ol > li{float: left; width: 48%; box-sizing: border-box;}
section.skills > ol > li:nth-child(even){float: right;}
section.skills .progressBar{
    height: 5px; 
    background: #FAE1E1; 
    border-radius: 2px;
    margin: 4px 0 40;
    overflow: hidden;
}
section.skills .progressBar > .progress{
    height: 100%; 
    background: #E6686A; 
    width: 80%;
    border-radius: 2px;
    transform:translateX(0);
    transition: all 1s;
}
section.skills .offset .progress{
    transform: translateX(-100%);
}

section.portfolio{text-align: center;  margin-bottom: 100px;}
section.portfolio >nav{text-align: center;}
section.portfolio >nav >ol{margin: 0 auto; display: inline-block; vertical-align: top;}
section.portfolio >nav >ol >li{float: left; margin-left: 40px; cursor: pointer;}
section.portfolio >nav >ol >li:nth-child(1){  margin-left: 0px;}
section.portfolio >nav{display:inline-block; vertical-align: top; margin-top: 30px;}
section.portfolio >nav .bar{height: 5px; background: #FFFFFF; margin-top: 5px; margin-bottom: 30px;  border-radius: 2px;}
section.portfolio >nav .bar-inner{height: 100%; background: #E6686A; border-radius: 2px; transition: 0.6s;}
section.portfolio >nav .bar.state-1 .bar-inner{margin-left: 0; width: 33px}
section.portfolio >nav .bar.state-2 .bar-inner{margin-left: 65px; width: 50px}
section.portfolio >nav .bar.state-3 .bar-inner{margin-left: 142px; width: 91px}
section.portfolio .works{position: relative;}
section.portfolio .works> .big,section.portfolio .works> .small{position: absolute;}
